<div class="d-flex flex-column justify-content-start align-content-start py-2"> 
  <div class="image-container rounded-circle">
    <%=image_tag(image_url(user), alt: "User#{user.id} photo", class: "rounded-circle") %>
  </div>
  <div class="user_container d-flex justify-content-between">
     <h2><%= user.name %></h2>
     <span>Number of posts: <%= post_counter(user) %></span>
  </div>
</div>
