<h2><%= post.title %></h2>
<p><%= truncate_text(post.text) %></p>
<div class="d-flex likes-comments-container">
  <span>Comments: <%= post.comments_counter %></span>
  <span>Likes: <%= post.likes_counter %></span>
</div>