@import 'bootstrap';
@import '@fortawesome/fontawesome-free';

body {
  background-color: azure;
  font-family: 'Roboto', sans-serif;
}

.w-10 {
  width: 10%;
}

.trash-icon {
  width: 5%;
  background-color: transparent !important;
  padding: 0.15rem 0.05rem !important;
  font-size: 1rem !important;
  color: black !important;
}

.trash-icon:hover {
  color: red !important;
}
