<% if can? :destroy, post %>
  <%= link_to user_post_path(user.id, post.id), method: :delete, class: "btn btn-danger w-10 my-2 align-self-end w-25" do%>
    <span>Delete Post</span>
  <% end %>
<% end %>
