<% if can? :destroy, comment %>
  <%= link_to comment_path(comment.id), method: :delete, class: "btn btn-danger ms-auto trash-icon mb-1" do%>
    <span><i class="fa fa-trash"></i></span>
  <% end %>
<% end %>