// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.comments-list {
    margin: 10px 0;
    background-color: white;
    border-radius: 5px;

    .comment {
    
        display: flex;
        align-items: center;
    
        .user-image {
          text-align: center;
          margin-right: 5px;
        }
    
        .comment-body {
            text-align: center;
        }
    }
}