.post_container {
  border: 2px solid black;
  border-radius: 5px;
  box-shadow: -1px 1px 6px 1px rgba(0, 0, 0, 0.8);
  background-color: white;
  width: 100%;
  padding: 15px;
  margin: 0;

  h2 {
    font-size: 1.5rem;
    font-weight: bold;
    justify-self: start;
    align-self: start;
  }

  p {
    font-size: 1.2rem;
    justify-self: start;
  }

  .likes-comments-container {
    font-size: 0.8rem;

    span {
      margin-right: 1rem;
    }
  }
}

.comments-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  color: black;
  padding: 20px;
  border: 1px solid #2e2e2e;
  width: 100%;
}
