.user_container {

  .image-container {
    width: 200px;
  }

  h2 {
    font-size: 1.5rem;
    color: black;
    margin-top: 10px;
    font-weight: bold;
  }

  span {
    font-size: 0.8rem;
    color: teal;
  }
}

