<div class="header-wrapper container d-flex justify-content-around"> 
  <div class="image-container">
    <%=image_tag("https://minimaltoolkit.com/images/randomdata/female/69.jpg") %>
   </div>
  <div class="user_container d-flex justify-content-between">
     <h2>User Name</h2>
     <span>Number of posts: x</span>
  </div>
</div>

